<form asp-action="Index">
    <label>Nhap PersonId:</label> <input type="text" name="PersonId" />
    <label>Nhap ho ten :</label> <input type="text" name="Fullname" />
    <label>Nhap dia chi :</label> <input type="text" name="Address" />
    <input type="submit" value="Submit" />
</form>
<h1>@ViewBag.Person</h1>
<h2>Index</h2>

<p>
    Chao mung den trang Person
    
</p>