<form asp-action="Index">
    <div><label>
        Nhap HoTen:
    </label> <input type="text" name="MaSV" /></div>
    <div><label>
        Nhap Diem A
    </label> <input type="text" name="DiemA" /></div>
    <div><label>
        Nhap Diem B
    </label> <input type="text" name="DiemB" /></div>
    <div><label>
        Nhap Diem C
    </label> <input type="text" name="DiemC" /></div>
    <div> <input type="Submit" value="Submit" </div>
</form>
<h2>@ViewBag.DiemTb</h2>