<form asp-action="Index">
    <div><label> Nhap ten San Pham </label> <input type=" Nhap TenSP" name="TenSP" /></div>
    <div><label> Nhap Dongia </label> <input type=" Nhap Dongia" name="DonGia" /></div>
    <div><label> Nhap SoLuong </label> <input type=" Nhap SoLuong" name="SoLuong" /></div>
    <div> <input type="Submit" value="Submit" </div>
</form>
<div><label> @ViewBag.HoaDon </label></div>
