<form asp-action="Index">
    <label>Ho va ten:</label> <input type="text" name="Name" />
    <label>Chieu cao (cm):</label> <input type="text" name="Height" />
    <label>Can nang (kg):</label> <input type="text" name="Weight" />
    <input type="submit" value="Submit" />
</form>
<h1>@ViewBag.BMI</h1>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}